<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (emailTemplateConfiguration()) {
      <div>
        <h2 data-cy="emailTemplateConfigurationDetailsHeading">
          <span jhiTranslate="projectinternApp.emailTemplateConfiguration.detail.title">Email Template Configuration</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ emailTemplateConfiguration()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="projectinternApp.emailTemplateConfiguration.nomTemplate">Nom Template</span></dt>
          <dd>
            <span>{{ emailTemplateConfiguration()!.nomTemplate }}</span>
          </dd>
          <dt><span jhiTranslate="projectinternApp.emailTemplateConfiguration.corps">Corps</span></dt>
          <dd>
            <span>{{ emailTemplateConfiguration()!.corps }}</span>
          </dd>
          <dt><span jhiTranslate="projectinternApp.emailTemplateConfiguration.dateCreation">Date Creation</span></dt>
          <dd>
            <span>{{ emailTemplateConfiguration()!.dateCreation | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="projectinternApp.emailTemplateConfiguration.dateModify">Date Modify</span></dt>
          <dd>
            <span>{{ emailTemplateConfiguration()!.dateModify | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="projectinternApp.emailTemplateConfiguration.activeStatus">Active Status</span></dt>
          <dd>
            <span [jhiTranslate]="'projectinternApp.Act.' + (emailTemplateConfiguration()!.activeStatus ?? 'null')">{{
              { null: '', AVAILABLE: 'AVAILABLE', OFFLINE: 'OFFLINE' }[emailTemplateConfiguration()!.activeStatus ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="projectinternApp.emailTemplateConfiguration.hotel">Hotel</span></dt>
          <dd>
            @if (emailTemplateConfiguration()!.hotel) {
              <div>
                <a [routerLink]="['/hotel', emailTemplateConfiguration()!.hotel?.id, 'view']">{{
                  emailTemplateConfiguration()!.hotel?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button
          type="button"
          [routerLink]="['/email-template-configuration', emailTemplateConfiguration()!.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
