<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-paiement-heading" data-cy="PaiementCreateUpdateHeading" jhiTranslate="projetinternApp.paiement.home.createOrEditLabel">
        Create or edit a Paiement
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="projetinternApp.paiement.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_montant" jhiTranslate="projetinternApp.paiement.montant">Montant</label>
          <input type="number" class="form-control" name="montant" id="field_montant" data-cy="montant" formControlName="montant" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_datePaiement" jhiTranslate="projetinternApp.paiement.datePaiement">Date Paiement</label>
          <div class="d-flex">
            <input
              id="field_datePaiement"
              data-cy="datePaiement"
              type="datetime-local"
              class="form-control"
              name="datePaiement"
              formControlName="datePaiement"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_methodePaiement" jhiTranslate="projetinternApp.paiement.methodePaiement"
            >Methode Paiement</label
          >
          <input
            type="text"
            class="form-control"
            name="methodePaiement"
            id="field_methodePaiement"
            data-cy="methodePaiement"
            formControlName="methodePaiement"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_token" jhiTranslate="projetinternApp.paiement.token">Token</label>
          <input type="text" class="form-control" name="token" id="field_token" data-cy="token" formControlName="token" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="projetinternApp.paiement.description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
