<div>
  <h2 id="page-heading" data-cy="PartenaireHeading">
    <span jhiTranslate="projetinternApp.partenaire.home.title">Partenaires</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="projetinternApp.partenaire.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-partenaire"
        [routerLink]="['/partenaire/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetinternApp.partenaire.home.createLabel">Create a new Partenaire</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (partenaires?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="projetinternApp.partenaire.home.notFound">No Partenaires found</span>
    </div>
  }

  @if (partenaires && partenaires.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="projetinternApp.partenaire.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nom">
              <div class="d-flex">
                <span jhiTranslate="projetinternApp.partenaire.nom">Nom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contact">
              <div class="d-flex">
                <span jhiTranslate="projetinternApp.partenaire.contact">Contact</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="adresse">
              <div class="d-flex">
                <span jhiTranslate="projetinternApp.partenaire.adresse">Adresse</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typePartenaire">
              <div class="d-flex">
                <span jhiTranslate="projetinternApp.partenaire.typePartenaire">Type Partenaire</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="service.id">
              <div class="d-flex">
                <span jhiTranslate="projetinternApp.partenaire.service">Service</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (partenaire of partenaires; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/partenaire', partenaire.id, 'view']">{{ partenaire.id }}</a>
              </td>
              <td>{{ partenaire.description }}</td>
              <td>{{ partenaire.nom }}</td>
              <td>{{ partenaire.contact }}</td>
              <td>{{ partenaire.adresse }}</td>
              <td>{{ partenaire.typePartenaire }}</td>
              <td>
                @if (partenaire.service) {
                  <div>
                    <a [routerLink]="['/service', partenaire.service.id, 'view']">{{ partenaire.service.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/partenaire', partenaire.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/partenaire', partenaire.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(partenaire)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
