<div>
  <h2 id="page-heading" data-cy="PaiementHeading">
    <span jhiTranslate="projetinternApp.paiement.home.title">Paiements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="projetinternApp.paiement.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-paiement"
        [routerLink]="['/paiement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetinternApp.paiement.home.createLabel">Create a new Paiement</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (paiements?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="projetinternApp.paiement.home.notFound">No Paiements found</span>
    </div>
  }

  @if (paiements && paiements.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="montant">
              <div class="d-flex">
                <span jhiTranslate="projetinternApp.paiement.montant">Montant</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="datePaiement">
              <div class="d-flex">
                <span jhiTranslate="projetinternApp.paiement.datePaiement">Date Paiement</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="methodePaiement">
              <div class="d-flex">
                <span jhiTranslate="projetinternApp.paiement.methodePaiement">Methode Paiement</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="token">
              <div class="d-flex">
                <span jhiTranslate="projetinternApp.paiement.token">Token</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="projetinternApp.paiement.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (paiement of paiements; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/paiement', paiement.id, 'view']">{{ paiement.id }}</a>
              </td>
              <td>{{ paiement.montant }}</td>
              <td>{{ paiement.datePaiement | formatMediumDatetime }}</td>
              <td>{{ paiement.methodePaiement }}</td>
              <td>{{ paiement.token }}</td>
              <td>{{ paiement.description }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/paiement', paiement.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/paiement', paiement.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(paiement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
