<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-authentification-configuration-heading"
        data-cy="AuthentificationConfigurationCreateUpdateHeading"
        jhiTranslate="projetinternApp.authentificationConfiguration.home.createOrEditLabel"
      >
        Create or edit a Authentification Configuration
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="projetinternApp.authentificationConfiguration.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_twoFactorEnabled"
            jhiTranslate="projetinternApp.authentificationConfiguration.twoFactorEnabled"
            >Two Factor Enabled</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="twoFactorEnabled"
            id="field_twoFactorEnabled"
            data-cy="twoFactorEnabled"
            formControlName="twoFactorEnabled"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_loginPageCustomization"
            jhiTranslate="projetinternApp.authentificationConfiguration.loginPageCustomization"
            >Login Page Customization</label
          >
          <input
            type="text"
            class="form-control"
            name="loginPageCustomization"
            id="field_loginPageCustomization"
            data-cy="loginPageCustomization"
            formControlName="loginPageCustomization"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_hotel" jhiTranslate="projetinternApp.authentificationConfiguration.hotel">Hotel</label>
          <select class="form-control" id="field_hotel" data-cy="hotel" name="hotel" formControlName="hotel" [compareWith]="compareHotel">
            <option [ngValue]="null"></option>
            @for (hotelOption of hotelsSharedCollection; track $index) {
              <option [ngValue]="hotelOption">{{ hotelOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
